.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

  min-height: 100vh;
  background-color: #e1e1e1;
}

.Header {
  flex-shrink: 0;
  flex-basis: 100%;

  min-height: 8vh;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #2b2e36;
  font-size: calc(10px + 2vmin);
}

.imageList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  margin: 15px;
}

.imageList > img {
  margin: 20px;
  max-width: 300px;
  width: 100%;
  height: auto;
}

.infoText {
  color: #2b2e36;
}
